# Deep Learning models using Keras

Keras is a user-friendly neural network library written in Python. We will build a regression model to predict an employee's wage per hour.

Note: The datasets we will be using are relatively clean, so we will not perform any data preprocessing in order to get our data ready for modeling. Datasets that you will use in future projects may not be so clean - for example, they may have missing values - so you may need to use data preprocessing techniques to alter your datasets to get more accurate results.

# Regression Model using Keras

For our regression deep learning model, the first step is to read in the data we will use as input. For this example, we are using the 'hourly wages' dataset. To start, we will use Pandas to read in the data. I will not go into detail on Pandas, but it is a library you should become familiar with if you're looking to dive further into data science and machine learning.

'df' stands for dataframe. Pandas read in the CSV file as a dataframe. The 'head()' function will show the first 5 rows of the dataframe so you can check that the data has been read in properly and can take an initial look at how the data is structured.

In [40]:
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import EarlyStopping
from keras.utils import to_categorical

In [41]:
#read in training data
#train_df = pd.read_html("https://github.com/eijaz1/Deep-Learning-in-Keras-Tutorial/blob/master/data/hourly_wages_data.csv")
train_df = pd.read_csv('/Users/rounakbose/Desktop/hourly_wages_data.csv')

#view data structure
train_df.head()

#print (train_df)

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0

Next, we need to split up our dataset into inputs (train_X) and our target (train_y). Our input will be every column except 'wage_per_hour' because 'wage_per_hour' is what we will be attempting to predict. Therefore, 'wage_per_hour' will be our target.

We will use the pandas 'drop' function to drop the column 'wage_per_hour' from our dataframe and store it in the variable 'train_X'. This will be our input.

In [42]:
#create a dataframe with all training data except the target column
train_X = train_df.drop(columns=['wage_per_hour'])

#check that the target variable has been removed
train_X.head()

,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,0,8,21,35,1,1,0,1,0
1,0,9,42,57,1,1,0,1,0
2,0,12,1,19,0,0,0,1,0
3,0,12,4,22,0,0,0,0,0
4,0,12,17,35,0,1,0,0,0

In [43]:
#create a dataframe with only the target column
train_y = train_df[['wage_per_hour']]

#view dataframe
train_y.head()

   wage_per_hour
0           5.10
1           4.95
2           6.67
3           4.00
4           7.50

The model type that we will be using is Sequential. Sequential is the easiest way to build a model in Keras. It allows you to build a model layer by layer. Each layer has weights that correspond to the layer the follows it.

We use the 'add()' function to add layers to our model. We will add two layers and an output layer.

'Dense' is the layer type. Dense is a standard layer type that works for most cases. In a dense layer, all nodes in the previous layer connect to the nodes in the current layer.

We have 10 nodes in each of our input layers. This number can also be in the hundreds or thousands. Increasing the number of nodes in each layer increases model capacity. I will go into further detail about the effects of increasing model capacity shortly.

'Activation' is the activation function for the layer. An activation function allows models to take into account nonlinear relationships. For example, if you are predicting diabetes in patients, going from age 10 to 11 is different than going from age 60Ã¢??61.

The activation function we will be using is ReLU or Rectified Linear Activation. Although it is two linear pieces, it has been proven to work well in neural networks.

The first layer needs an input shape. The input shape specifies the number of rows and columns in the input. The number of columns in our input is stored in 'n_cols'. There is nothing after the comma which indicates that there can be any amount of rows.

The last layer is the output layer. It only has one node, which is for our prediction.

Next, we need to compile our model. Compiling the model takes two parameters: optimizer and loss.

The optimizer controls the learning rate. We will be using 'Adam' as our optimizer. Adam is generally a good optimizer to use for many cases. The Adam optimizer adjusts the learning rate throughout training.

The learning rate determines how fast the optimal weights for the model are calculated. A smaller learning rate may lead to more accurate weights (up to a certain point), but the time it takes to compute the weights will be longer.

For our loss function, we will use 'mean_squared_error'. It is calculated by taking the average squared difference between the predicted and actual values. It is a popular loss function for regression problems. The closer to 0 this is, the better the model performed.

In [44]:
#create model
model = Sequential()

#get number of columns in training data
n_cols = train_X.shape[1]

#add model layers
model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
model.add(Dense(10, activation='relu'))
model.add(Dense(1))

#compile model using mse as a measure of model performance
model.compile(optimizer='adam', loss='mean_squared_error')

#set early stopping monitor so the model stops training when it won't improve anymore
early_stopping_monitor = EarlyStopping(patience=3)

Now we will train our model. To train, we will use the 'fit()' function on our model with the following five parameters: training data (train_X), target data (train_y), validation split, the number of epochs and callbacks.

The validation split will randomly split the data into use for training and testing. During training, we will be able to see the validation loss, which gives the mean squared error of our model on the validation set. We will set the validation split at 0.2, which means that 20% of the training data we provide in the model will be set aside for testing model performance.

The number of epochs is the number of times the model will cycle through the data. The more epochs we run, the more the model will improve, up to a certain point. After that point, the model will stop improving during each epoch. In addition, the more epochs, the longer the model will take to run. To monitor this, we will use 'early stopping'.

Early stopping will stop the model from training before the number of epochs is reached if the model stops improving. We will set our early stopping monitor to 3. This means that after 3 epochs in a row in which the model doesn't improve, training will stop. Sometimes, the validation loss can stop improving then improve in the next epoch, but after 3 epochs in which the validation loss doesn't improve, it usually won't improve again.

In [45]:
#train model
model.fit(train_X, train_y, validation_split=0.2, epochs=30, callbacks=[early_stopping_monitor])

Train on 427 samples, validate on 107 samples
Epoch 1/30
427/427 [==============================] - 0s 848us/step - loss: 1112.8744 - val_loss: 1100.6086
Epoch 2/30
427/427 [==============================] - 0s 58us/step - loss: 853.2924 - val_loss: 877.6923
Epoch 3/30
427/427 [==============================] - 0s 70us/step - loss: 666.2876 - val_loss: 712.6464
Epoch 4/30
427/427 [==============================] - 0s 68us/step - loss: 531.0920 - val_loss: 589.7172
Epoch 5/30
427/427 [==============================] - 0s 79us/step - loss: 437.1978 - val_loss: 491.9633
Epoch 6/30
427/427 [==============================] - 0s 68us/step - loss: 359.0812 - val_loss: 400.6848
Epoch 7/30
427/427 [==============================] - 0s 95us/step - loss: 280.6660 - val_loss: 319.7139
Epoch 8/30
427/427 [==============================] - 0s 68us/step - loss: 213.1906 - val_loss: 255.4731
Epoch 9/30
427/427 [==============================] - 0s 64us/step - loss: 160.7957 - val_loss: 205.1984
Epoch 10/30
427/427 [==============================] - 0s 77us/step - loss: 121.1518 - val_loss: 165.3136
Epoch 11/30
427/427 [==============================] - 0s 68us/step - loss: 90.7705 - val_loss: 133.8244
Epoch 12/30
427/427 [==============================] - 0s 75us/step - loss: 68.9218 - val_loss: 108.3994
Epoch 13/30
427/427 [==============================] - 0s 83us/step - loss: 52.0768 - val_loss: 89.2008
Epoch 14/30
427/427 [==============================] - 0s 70us/step - loss: 40.7431 - val_loss: 74.1347
Epoch 15/30
427/427 [==============================] - 0s 83us/step - loss: 32.6712 - val_loss: 63.4181
Epoch 16/30
427/427 [==============================] - 0s 62us/step - loss: 27.8268 - val_loss: 55.5535
Epoch 17/30
427/427 [==============================] - 0s 92us/step - loss: 24.8739 - val_loss: 50.2097
Epoch 18/30
427/427 [==============================] - 0s 73us/step - loss: 23.2192 - val_loss: 46.4848
Epoch 19/30
427/427 [==============================] - 0s 75us/step - loss: 22.2122 - val_loss: 43.8338
Epoch 20/30
427/427 [==============================] - 0s 74us/step - loss: 21.6584 - val_loss: 41.6683
Epoch 21/30
427/427 [==============================] - 0s 71us/step - loss: 21.3040 - val_loss: 40.1722
Epoch 22/30
427/427 [==============================] - 0s 84us/step - loss: 21.1097 - val_loss: 39.3469
Epoch 23/30
427/427 [==============================] - 0s 72us/step - loss: 20.9853 - val_loss: 38.5179
Epoch 24/30
427/427 [==============================] - 0s 80us/step - loss: 20.8932 - val_loss: 37.6924
Epoch 25/30
427/427 [==============================] - 0s 74us/step - loss: 20.8276 - val_loss: 37.4844
Epoch 26/30
427/427 [==============================] - 0s 74us/step - loss: 20.7518 - val_loss: 36.7941
Epoch 27/30
427/427 [==============================] - 0s 64us/step - loss: 20.6434 - val_loss: 35.9897
Epoch 28/30
427/427 [==============================] - 0s 79us/step - loss: 20.4697 - val_loss: 35.1794
Epoch 29/30
427/427 [==============================] - 0s 68us/step - loss: 20.1741 - val_loss: 33.2080
Epoch 30/30
427/427 [==============================] - 0s 76us/step - loss: 19.9910 - val_loss: 32.4884

Making predictions on new data

If you want to use this model to make predictions on new data, we would use the 'predict()' function, passing in our new data.
The output would be 'wage_per_hour' predictions.

In [46]:
#example on how to use our newly trained model on how to make predictions on unseen data
#we will pretend our new data is saved in a dataframecalled 'test_X')

test_df = pd.read_csv('/Users/rounakbose/Desktop/hourly_wages_data.csv')
test_X = test_df.drop(columns=['wage_per_hour'])

test_y_predictions = model.predict(test_X)

print (test_y_predictions)

[[ 7.477763 ]
 [ 9.887308 ]
 [ 6.997332 ]
 [ 7.0819163]
 [ 8.672625 ]
 [ 7.8599615]
 [ 8.218028 ]
 [ 7.8636303]
 [ 9.910281 ]
 [ 7.8636303]
 [ 8.288237 ]
 [ 9.056479 ]
 [ 7.212821 ]
 [ 7.6776004]
 [ 7.8161607]
 [10.7977085]
 [ 8.7856   ]
 [ 9.634369 ]
 [ 8.278558 ]
 [10.199259 ]
 [ 8.3021145]
 [ 9.091488 ]
 [ 7.8636303]
 [ 7.242509 ]
 [ 9.275103 ]
 [ 8.862035 ]
 [ 7.916234 ]
 [ 9.033439 ]
 [ 7.6805882]
 [ 7.527098 ]
 [ 9.15461  ]
 [10.63064  ]
 [ 7.1282945]
 [ 7.6146026]
 [ 9.44087  ]
 [10.618918 ]
 [ 8.521762 ]
 [10.239485 ]
 [ 6.9255743]
 [ 8.309243 ]
 [ 6.390474 ]
 [ 8.488295 ]
 [ 8.729728 ]
 [ 7.459971 ]
 [ 7.5871115]
 [ 5.7984037]
 [10.066625 ]
 [ 6.8484454]
 [ 8.104808 ]
 [ 8.0725765]
 [ 7.3707566]
 [ 9.838043 ]
 [ 7.5242453]
 [ 8.686503 ]
 [ 6.731639 ]
 [ 8.235944 ]
 [ 9.616716 ]
 [ 7.7971845]
 [ 9.404994 ]
 [ 9.901816 ]
 [ 8.394729 ]
 [ 9.222914 ]
 [ 9.516446 ]
 [ 6.424143 ]
 [ 7.398816 ]
 [ 8.98498  ]
 [ 8.252769 ]
 [ 8.694622 ]
 [10.825974 ]
 [ 9.506474 ]
 [ 6.251271 ]
 [ 9.453121 ]
 [ 7.6239114]
 [ 5.7090273]
 [ 8.628754 ]
 [ 8.570186 ]
 [ 8.126314 ]
 [ 7.591213 ]
 [ 8.091775 ]
 [ 9.785529 ]
 [ 9.270779 ]
 [ 8.172064 ]
 [10.260918 ]
 [ 9.021998 ]
 [ 8.092756 ]
 [ 8.743851 ]
 [ 7.995344 ]
 [ 8.513228 ]
 [ 6.4767704]
 [ 9.526076 ]
 [ 6.2959924]
 [ 9.730514 ]
 [ 6.61289  ]
 [ 7.3110857]
 [ 9.730514 ]
 [ 7.142175 ]
 [ 8.980695 ]
 [10.054655 ]
 [ 9.035013 ]
 [ 8.732301 ]
 [ 7.415367 ]
 [ 7.449445 ]
 [ 7.7072883]
 [ 9.730514 ]
 [ 9.284657 ]
 [ 7.0012536]
 [ 9.569289 ]
 [ 8.203108 ]
 [ 6.5168037]
 [ 9.799396 ]
 [ 7.836114 ]
 [ 8.279942 ]
 [10.701567 ]
 [ 7.888041 ]
 [ 8.9335165]
 [ 8.065672 ]
 [ 7.871754 ]
 [ 7.707386 ]
 [ 7.114769 ]
 [ 8.091775 ]
 [ 6.9858317]
 [ 8.700623 ]
 [ 9.73718  ]
 [ 8.36894  ]
 [ 6.8931694]
 [ 6.945209 ]
 [ 8.073214 ]
 [ 9.19698  ]
 [ 6.685717 ]
 [ 8.013329 ]
 [ 5.5457797]
 [ 7.31471  ]
 [ 7.527098 ]
 [ 7.9208784]
 [ 7.867801 ]
 [ 6.419497 ]
 [ 6.7692323]
 [ 8.995965 ]
 [ 9.78389  ]
 [ 7.6834407]
 [ 7.418357 ]
 [ 9.194409 ]
 [ 8.183614 ]
 [ 8.467713 ]
 [ 7.9310102]
 [ 9.980758 ]
 [ 7.0790634]
 [10.565196 ]
 [ 7.498647 ]
 [ 7.458962 ]
 [ 7.3066683]
 [10.803917 ]
 [ 6.3758855]
 [ 8.945871 ]
 [ 5.930703 ]
 [ 8.613558 ]
 [10.421541 ]
 [ 9.280258 ]
 [ 7.531742 ]
 [ 6.1640844]
 [ 8.950662 ]
 [10.693544 ]
 [ 9.973316 ]
 [ 8.802917 ]
 [10.1501465]
 [ 9.388651 ]
 [ 9.232309 ]
 [ 7.071732 ]
 [11.647697 ]
 [ 9.076743 ]
 [ 7.139753 ]
 [11.486413 ]
 [ 8.604086 ]
 [ 9.81607  ]
 [10.200141 ]
 [10.421541 ]
 [11.07852  ]
 [ 9.296234 ]
 [10.74023  ]
 [ 9.611097 ]
 [12.495313 ]
 [ 8.550122 ]
 [11.165667 ]
 [ 9.544994 ]
 [10.886222 ]
 [ 8.682618 ]
 [10.205655 ]
 [ 9.552349 ]
 [ 9.50312  ]
 [10.497671 ]
 [10.3705635]
 [ 7.650696 ]
 [ 7.1351094]
 [ 9.838374 ]
 [ 8.109285 ]
 [ 8.510853 ]
 [11.03872  ]
 [ 9.956861 ]
 [11.063205 ]
 [ 9.367517 ]
 [11.146572 ]
 [ 8.895776 ]
 [ 9.821922 ]
 [ 5.6950574]
 [ 8.892922 ]
 [ 6.5097375]
 [11.347287 ]
 [ 8.862349 ]
 [ 8.74875  ]
 [11.372128 ]
 [10.752686 ]
 [10.352774 ]
 [ 8.556455 ]
 [10.1273155]
 [10.200141 ]
 [ 7.531742 ]
 [ 8.858243 ]
 [11.578826 ]
 [ 6.822422 ]
 [ 9.007878 ]
 [ 9.0566   ]
 [ 8.044294 ]
 [11.017477 ]
 [ 7.3185854]
 [ 8.753331 ]
 [ 8.503787 ]
 [10.189205 ]
 [ 9.464202 ]
 [ 6.052465 ]
 [ 7.040741 ]
 [11.423827 ]
 [ 7.0590916]
 [ 8.29501  ]
 [ 7.058069 ]
 [ 7.4364715]
 [ 9.140488 ]
 [10.70464  ]
 [ 8.048548 ]
 [ 9.953678 ]
 [10.750024 ]
 [ 8.673414 ]
 [ 6.8462696]
 [ 7.0809503]
 [ 9.426267 ]
 [ 8.997856 ]
 [ 7.543497 ]
 [10.291676 ]
 [ 7.619516 ]
 [10.604224 ]
 [ 9.213434 ]
 [ 7.303206 ]
 [ 8.660129 ]
 [ 9.311572 ]
 [ 8.513228 ]
 [11.586543 ]
 [ 8.058607 ]
 [ 8.616132 ]
 [10.107729 ]
 [ 9.67851  ]
 [ 8.7269945]
 [ 7.273083 ]
 [ 9.076743 ]
 [11.061427 ]
 [ 8.337994 ]
 [ 7.6074705]
 [ 8.63246  ]
 [ 7.5089173]
 [ 9.076743 ]
 [11.017477 ]
 [ 8.624465 ]
 [10.3705635]
 [ 9.445129 ]
 [ 7.8727   ]
 [ 9.135491 ]
 [ 7.3764215]
 [ 9.352527 ]
 [ 8.450596 ]
 [ 7.467974 ]
 [11.380468 ]
 [ 7.418357 ]
 [ 6.8449125]
 [ 6.66608  ]
 [ 8.765826 ]
 [ 5.943389 ]
 [ 6.693215 ]
 [ 9.038197 ]
 [10.462978 ]
 [ 9.076743 ]
 [12.037499 ]
 [ 8.606938 ]
 [ 9.311572 ]
 [ 7.7072883]
 [ 8.6890745]
 [ 6.5560746]
 [10.601128 ]
 [ 9.311572 ]
 [ 8.164717 ]
 [ 8.307673 ]
 [ 6.188697 ]
 [ 8.904964 ]
 [ 8.941911 ]
 [ 7.1589556]
 [ 7.6641607]
 [10.075523 ]
 [ 7.471641 ]
 [ 8.635424 ]
 [ 9.094933 ]
 [ 8.168914 ]
 [ 6.677837 ]
 [ 7.199479 ]
 [ 6.076313 ]
 [ 6.087047 ]
 [ 5.943389 ]
 [10.305374 ]
 [ 7.471641 ]
 [ 6.399731 ]
 [ 8.29501  ]
 [ 9.538824 ]
 [ 8.303749 ]
 [ 9.782402 ]
 [ 7.37513  ]
 [ 8.383048 ]
 [ 7.8478694]
 [ 8.723408 ]
 [10.70464  ]
 [ 8.122532 ]
 [10.555394 ]
 [ 8.918843 ]
 [ 7.538313 ]
 [ 9.733941 ]
 [ 8.614664 ]
 [13.115192 ]
 [ 6.734651 ]
 [ 9.908485 ]
 [ 7.37513  ]
 [ 9.3251   ]
 [ 8.70708  ]
 [ 8.164717 ]
 [10.38409  ]
 [ 7.1351094]
 [11.615297 ]
 [ 7.5979915]
 [ 5.6712103]
 [ 8.149665 ]
 [ 9.061385 ]
 [ 7.37513  ]
 [ 9.733908 ]
 [ 9.488998 ]
 [ 7.761678 ]
 [10.056266 ]
 [ 4.5142384]
 [ 7.904093 ]
 [ 8.262796 ]
 [ 8.913811 ]
 [ 8.0770445]
 [10.603019 ]
 [ 8.411182 ]
 [ 8.74654  ]
 [ 7.0809503]
 [ 8.070017 ]
 [ 6.3533955]
 [10.770053 ]
 [ 8.5729065]
 [10.508608 ]
 [ 8.632582 ]
 [ 6.86876  ]
 [ 6.5204716]
 [ 7.3825088]
 [10.205704 ]
 [ 7.4787025]
 [10.081719 ]
 [10.3705635]
 [ 7.9323792]
 [ 8.048548 ]
 [ 9.140266 ]
 [ 7.315299 ]
 [ 7.4520073]
 [ 7.1589556]
 [ 6.1402392]
 [ 6.076313 ]
 [ 9.685459 ]
 [ 9.076743 ]
 [ 7.91062  ]
 [ 6.2280107]
 [ 7.3049693]
 [ 6.087047 ]
 [ 8.317277 ]
 [ 9.178958 ]
 [ 8.800032 ]
 [10.790222 ]
 [ 9.353992 ]
 [ 6.4374986]
 [ 9.372829 ]
 [ 9.445774 ]
 [ 7.839782 ]
 [ 5.927036 ]
 [10.45925  ]
 [ 7.3068295]
 [ 6.188697 ]
 [ 8.580996 ]
 [ 7.907196 ]
 [ 8.164717 ]
 [ 7.8571143]
 [10.364665 ]
 [ 6.5443196]
 [ 9.697736 ]
 [ 8.503787 ]
 [ 8.481747 ]
 [ 8.839733 ]
 [ 7.4595056]
 [10.806854 ]
 [ 9.662673 ]
 [ 7.7236414]
 [10.059234 ]
 [ 6.3879766]
 [ 6.172672 ]
 [10.107729 ]
 [ 9.086544 ]
 [ 7.9214664]
 [ 7.7141595]
 [ 9.908485 ]
 [ 8.222066 ]
 [ 6.765608 ]
 [ 7.314767 ]
 [ 7.839782 ]
 [ 9.070879 ]
 [ 9.671864 ]
 [ 5.5413513]
 [ 9.883858 ]
 [10.591358 ]
 [10.889405 ]
 [12.69127  ]
 [ 9.0731125]
 [ 8.583238 ]
 [ 9.922013 ]
 [ 9.814628 ]
 [ 9.734737 ]
 [ 8.21128  ]
 [ 8.4073925]
 [ 8.587303 ]
 [ 8.366647 ]
 [11.383757 ]
 [ 9.032918 ]
 [ 6.577554 ]
 [ 9.151645 ]
 [10.440001 ]
 [ 8.503787 ]
 [ 9.277031 ]
 [ 8.8990555]
 [ 8.908888 ]
 [ 8.065718 ]
 [10.048011 ]
 [11.251184 ]
 [ 9.777788 ]
 [ 9.757814 ]
 [11.354086 ]
 [ 8.864922 ]
 [10.565714 ]
 [ 9.156292 ]
 [ 9.658288 ]
 [10.610657 ]
 [ 9.446406 ]
 [10.04393  ]
 [ 9.646074 ]
 [ 8.660129 ]
 [ 7.8303304]
 [ 7.700039 ]
 [ 8.411182 ]
 [12.634    ]
 [ 8.118919 ]
 [ 8.815884 ]
 [ 9.432507 ]
 [10.367763 ]
 [ 9.129157 ]
 [10.0705   ]
 [10.926158 ]
 [ 7.0819163]
 [12.283448 ]
 [ 6.7453847]
 [ 8.8990555]
 [ 7.094113 ]
 [12.864976 ]
 [11.757902 ]
 [10.577961 ]
 [ 9.220987 ]
 [13.3635235]
 [10.257245 ]
 [ 7.6087813]
 [ 9.285501 ]
 [ 9.913638 ]
 [10.069852 ]
 [ 9.719216 ]
 [10.169581 ]
 [ 9.129157 ]
 [ 7.84545  ]
 [ 8.382026 ]
 [13.541685 ]
 [11.099136 ]
 [ 7.5089173]
 [12.158393 ]
 [ 9.588925 ]
 [10.74023  ]
 [10.829732 ]
 [ 6.5097375]
 [ 9.690605 ]
 [ 8.924423 ]
 [10.029807 ]
 [ 9.658288 ]
 [ 9.681296 ]
 [10.226269 ]
 [10.089484 ]
 [ 9.521147 ]
 [11.434379 ]
 [10.380365 ]
 [10.073032 ]
 [ 9.111384 ]
 [ 9.544994 ]
 [ 8.630993 ]
 [ 8.632582 ]
 [ 7.9779425]
 [ 8.892108 ]
 [10.710987 ]
 [ 8.979878 ]
 [ 7.8131337]
 [ 7.750778 ]
 [ 8.904244 ]
 [ 9.16374  ]
 [ 7.418357 ]
 [ 8.299052 ]
 [ 9.525791 ]
 [ 9.908485 ]
 [10.982968 ]
 [ 7.150137 ]
 [12.431814 ]]

As you increase the number of nodes and layers in a model, the model capacity increases. Increasing model capacity can lead to a more accurate model, up to a certain point, at which the model will stop improving. Generally, the more training data you provide, the larger the model should be. We are only using a tiny amount of data, so our model is pretty small. The larger the model, the more computational capacity it requires and it will take longer to train.

Let's create a new model using the same training data as our previous model. This time, we will add a layer and increase the nodes in each layer to 200. We will train the model to see if increasing the model capacity will improve our validation score.

In [47]:
#training a new model on the same data to show the effect of increasing model capacity

#create model
model_mc = Sequential()

#add model layers
model_mc.add(Dense(200, activation='relu', input_shape=(n_cols,)))
model_mc.add(Dense(200, activation='relu'))
model_mc.add(Dense(200, activation='relu'))
model_mc.add(Dense(1))

#compile model using mse as a measure of model performance
model_mc.compile(optimizer='adam', loss='mean_squared_error')

In [49]:
#train model
model_mc.fit(train_X, train_y, validation_split=0.2, epochs=30, callbacks=[early_stopping_monitor])

Train on 427 samples, validate on 107 samples
Epoch 1/30
427/427 [==============================] - 0s 99us/step - loss: 19.0069 - val_loss: 31.0999
Epoch 2/30
427/427 [==============================] - 0s 108us/step - loss: 19.1117 - val_loss: 37.1751
Epoch 3/30
427/427 [==============================] - 0s 125us/step - loss: 18.9082 - val_loss: 32.3195
Epoch 4/30
427/427 [==============================] - 0s 101us/step - loss: 18.5858 - val_loss: 31.8671

We can see that by increasing our model capacity, we have improved our validation loss from 29.65 in our old model to 28.39 in our new model.

# Classification Model using Keras

Now let's move on to building our model for classification. Since many steps will be a repeat from the previous model, I will only go over new concepts.

For this next model, we are going to predict if patients have diabetes or not.

In [50]:
#read in training data
train_df_2 = pd.read_csv('/Users/rounakbose/Desktop/diabetes_data.csv')

#view data structure
train_df_2.head()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [51]:
#create a dataframe with all training data except the target column
train_X_2 = train_df_2.drop(columns=['diabetes'])

#check that the target variable has been removed
train_X_2.head()

   pregnancies  glucose  diastolic  triceps  insulin   bmi    dpf  age
0            6      148         72       35        0  33.6  0.627   50
1            1       85         66       29        0  26.6  0.351   31
2            8      183         64        0        0  23.3  0.672   32
3            1       89         66       23       94  28.1  0.167   21
4            0      137         40       35      168  43.1  2.288   33

When separating the target column, we need to call the 'to_categorical()' function so that column will be 'one-hot encoded'. Currently, a patient with no diabetes is represented with a 0 in the diabetes column and a patient with diabetes is represented with a 1. 

With one-hot encoding, the integer will be removed and a binary variable is inputted for each category. In our case, we have two categories: no diabetes and diabetes.

A patient with no diabetes will be represented by [1 0] and a patient with diabetes will be represented by [0 1].

In [52]:
#one-hot encode target column
train_y_2 = to_categorical(train_df_2.diabetes)

#vcheck that target column has been converted
train_y_2[0:5]

array([[0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.]], dtype=float32)

The last layer of our model has 2 nodes - one for each option: the patient has diabetes or they don't.

The activation is 'softmax'. Softmax makes the output sum up to 1 so the output can be interpreted as probabilities. The model will then make its prediction based on which option has a higher probability.

We will use 'categorical_crossentropy' for our loss function. This is the most common choice for classification. A lower score indicates that the model is performing better.

To make things even easier to interpret, we will use the 'accuracy' metric to see the accuracy score on the validation set at the end of each epoch.

In [53]:
#create model
model_2 = Sequential()

#get number of columns in training data
n_cols_2 = train_X_2.shape[1]

#add layers to model
model_2.add(Dense(250, activation='relu', input_shape=(n_cols_2,)))
model_2.add(Dense(250, activation='relu'))
model_2.add(Dense(250, activation='relu'))
model_2.add(Dense(2, activation='softmax'))

#compile model using accuracy to measure model performance
model_2.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [54]:
#train model
model_2.fit(train_X_2, train_y_2, epochs=30, validation_split=0.2, callbacks=[early_stopping_monitor])

Train on 614 samples, validate on 154 samples
Epoch 1/30
614/614 [==============================] - 1s 872us/step - loss: 5.5590 - acc: 0.6384 - val_loss: 5.7565 - val_acc: 0.6429
Epoch 2/30
614/614 [==============================] - 0s 111us/step - loss: 5.5915 - acc: 0.6531 - val_loss: 5.7565 - val_acc: 0.6429
Epoch 3/30
614/614 [==============================] - 0s 139us/step - loss: 5.5915 - acc: 0.6531 - val_loss: 5.7565 - val_acc: 0.6429
Epoch 4/30
614/614 [==============================] - 0s 174us/step - loss: 5.5915 - acc: 0.6531 - val_loss: 5.7565 - val_acc: 0.6429